body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1f2937;
    margin: 0px;
}

.header, .footer, .hero{
    background-color: #1f2937;
}

.header, .footer {
    height: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header, .footer-text, a, .hero-description{
    font-size: 18px;
    color: #e5e7eb;
}

.header, .hero{
    padding: 0px 20%;
}

.hero, .info, .call-box, .quote-container{
    height: 350px;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}

.logo-image {
    height: 80px;
    width: auto;
    filter: invert();
    margin-left: -1.5%;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
}

.hero-text, .hero-description{
    width: 400px;
}

.hero-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-image {
    width: 400px;
    height: 250px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 128px;
    background-color: white;
}

.info-block {
    display: flex;
    justify-content: space-around;
    gap: 5%;
    align-items: center;
}

.info-title{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.info-image {
    width: 120px;
    border-style: solid;
    border-width: 3px;
    border-color: #3882f6;
    border-radius: 10px;
}

.info-text{
    font-size: 12px;
    width: 100px;
    color: rgb(77, 85, 98);
    text-align: center;
}

.quote-container{
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;

}

.quote-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.quotee {
    align-self: self-end;
    font-weight: bold;
    font-size: 18px;
}

.quote{
    width: 600px;
    flex-wrap: wrap;
    font-size: 28px;
    font-style: italic;
    font-weight: 200;
    color: rgb(104, 103, 103);
}

.call-box {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.call {
    display: flex;
    padding: 0px 96px;
    gap: 48px;
    background-color: #3882f6;
    border-radius: 4px;
    padding: 32px 72px;
    color: #e5e7eb;
}

button{
    background-color: #3882f6;
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    color: #e5e7eb;
    font-size: 14px;
    font-weight: 500;
}

.call-title{
    font-size: 16px;
    font-weight: 700;
}

.call-subtitle{
    font-size: 10px;
}

.call-button{
    border-style: solid;
    border-width: 1px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}