/* Add CSS Styling */

.odd {
    background-color: rgb(237, 183, 216);
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

.big{
    font-size: 24px;
}

#second {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#fourth {
    background-color: hsl(106, 77%, 54%);
    font-weight: bold;
}